.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 120px;
}

.button-default {
    border: 1px solid #c2c2c2 !important;
}